<?xml version="1.0" encoding="utf-8" ?>  
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"  
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">  
  
  <extensions>
    <add assembly="Microsoft.ApplicationInsights.NLogTarget" />
  </extensions>
                
    <!-- the targets to write -->  
    <targets>  
        <!-- write to file -->  
        <target name="applog" xsi:type="File"   
        fileName="${aspnet-appbasepath}\Log\applog-${shortdate}.log"  
        layout="${longdate} - ${message} -   
        ${exception:format=StackTrace}${newline}" />  
    
      <target name="aiTarget" xsi:type="ApplicationInsightsTarget" >
      <instrumentationKey>0c52d330-66ae-4c6d-b53a-fe6b46671c4b</instrumentationKey>
      <!-- Only required if not using ApplicationInsights.config -->
      <contextproperty name="threadid" layout="${threadid}" />
      <!-- Can be repeated with more context -->
    </target>

    </targets>  
    <!-- rules to map from logger name to target -->  
    <rules>  
        <!-- all logs including Microsoft -->  
        <logger name="*" minlevel="Trace" writeTo="applog" />        
        <logger name="*" minlevel="Trace" writeTo="aiTarget" />
    </rules>  
</nlog> 